.section {
  width: 100%;
  height: vh100;
  padding-top: 7rem;
  background-color: #68756A;
}

.links {
  margin: auto;
  max-width: 80%;
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-around; */
}